<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amap.navi.demo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>

    <!--<uses-permission android:name="android.permission.INTERNET" /> -->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />


    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:icon="@drawable/app_main_logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c299d7fda0bdabed33046abed20548eb" />

        <activity android:name="com.shi_zhao.play.android.play.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.IndexActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.alipay.sdk.pay.demo.PayDemoActivity"
            android:icon="@drawable/msp_icon"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.alipay.sdk.pay.demo.H5PayDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- alipay sdk begin -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <activity
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.BasicNaviActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.custom.ComponentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomZoomInIntersectionViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomDriveWayViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.HudDisplayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.IntelligentBroadcastActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.RoutePlanningActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.GPSNaviActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomTrafficBarViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomTrafficProgressBarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.SimpleNaviActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.GetNaviStepsAndLinksActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.NorthModeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.OverviewModeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.BasicWalkNaviActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.UseExtraGpsDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomCarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomRouteTextureInAMapNaviViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomDirectionViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomTrafficButtonViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomNextTurnTipViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomZoomButtonViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomOverviewButtonViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.RestRouteShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.RouteNaviActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.SingleRouteCalculateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.WalkRouteCalculateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.RideRouteCalculateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.EmulatorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.custom.CustomUiActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.DriverListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name=".activity.TrunkRouteCalculateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name=".activity.SwitchMasterRoadNaviActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity android:name=".activity.search.SearchPoiActivity"
            />

        <activity android:name="com.shi_zhao.play.android.play.BeginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <activity android:name="com.shi_zhao.play.android.play.Operation.TurnInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.shi_zhao.play.android.play.Operation.Passenger_operation.PassengerChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.shi_zhao.play.android.play.Operation.Passenger_operation.News1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.shi_zhao.play.android.play.Operation.Passenger_operation.News2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.shi_zhao.play.android.play.Operation.Passenger_operation.News3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.statisticsview.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.shi_zhao.play.android.play.Operation.Passenger_operation.News4Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.shi_zhao.play.android.play.Operation.Passenger_operation.News5Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.shi_zhao.play.android.play.Operation.Passenger_operation.News6Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.shi_zhao.play.android.play.Operation.Passenger_operation.News7Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.memoire.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name="com.memoire.EditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name="com.memoire.AmendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <activity android:name="com.shi_zhao.play.android.play.Operation.Passenger_operation.ContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.shi_zhao.play.android.play.Operation.Passenger_operation.ProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.shi_zhao.play.android.play.Operation.Passenger_operation.Turn1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.shi_zhao.play.android.play.Operation.AddpetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name="com.shi_zhao.play.android.play.Operation.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name="com.shi_zhao.play.android.play.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name="com.fenshu.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.shi_zhao.play.android.play.Operation.Passenger_operation.DriverChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.shi_zhao.play.android.play.Operation.Passenger_operation.Based_information_choice.DriverInformationActivitty"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <activity android:name="com.shi_zhao.play.android.play.Operation.Passenger_operation.MoreifoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.shi_zhao.play.android.play.Operation.Passenger_operation.Based_information_choice.ManagerInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.shi_zhao.play.android.play.Operation.Passenger_operation.Based_information_choice.ManagerMassageSendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.shi_zhao.play.android.play.Operation.Passenger_operation.ManagerDriverActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <activity
            android:name="com.sina.weibo.sdk.demo.WBDemoMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <!-- 授权认证 -->
        <activity android:name="com.sina.weibo.sdk.demo.WBAuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name="com.sina.weibo.sdk.demo.WBShareMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.sina.weibo.sdk.demo.WeiboPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.sina.weibo.sdk.demo.ShareStoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!-- 分享 -->
        <activity
            android:name="com.sina.weibo.sdk.demo.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 统计 -->
        <activity android:name="com.sina.weibo.sdk.demo.WBStatisticActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.shi_zhao.play.android.play.Demo1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name="com.shi_zhao.play.android.play.Demo2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name="com.shi_zhao.play.android.play.Operation.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <meta-data
            android:name="WEIBO_APPKEY"
            android:value="2008280200"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <meta-data
            android:name="WEIBO_CHANNEL"
            android:value="weibo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.alipay.sdk.pay.demo.QrCodeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.DriverIndexActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <!--<activity-->
            <!--android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"-->
            <!--android:configChanges="keyboardHidden|orientation"-->
            <!--android:windowSoftInputMode="adjustResize"-->
            <!--android:exported="false" >-->
        <!--</activity>-->
        <!--<service-->
            <!--android:name="com.sina.weibo.sdk.net.DownloadService"-->
            <!--android:exported="false" >-->
        <!--</service>-->
    </application>

</manifest>